/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #5f6368;
}

body > * {
    padding: 1rem;
}

h2 {
    color: #3c4043;
    margin: 2.5rem 0 0;
}

p {
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

/* UTILITIES */
.container {
    width: 70%;
    margin: 0 auto;
}

.list-style-none {
    list-style: none;
}

/* Flex */
.d-flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

/* HEADER */
header {
    border-bottom: 1px solid #cbcbcb;
    padding: 1rem 2rem 0;
}

header .top .logo {
    font-size: 1.2rem;
    padding: 0 1rem;
}

header .bottom {
    padding: 1rem 0 0;
}

header .bottom ul li {
    margin-right: 2rem;
    padding-bottom: .5rem;
    font-weight: 500;
}

header .bottom ul li:last-child {
    margin-right: 0;
}

header .bottom ul li.active {
    border-bottom: 2px solid #3367d6;
}

header .bottom ul li.active a {
    color: #3367d6;
}

/* FOOTER */
footer {
    background-color: #f5f5f5;
}

footer .left li {
    font-size: .8rem;
    margin-right: 1rem;
}

footer .left li:last-child {
    margin-right: 0;
}

footer .left li:nth-child(n+2)::before {
    content: '-';
    margin-right: .8rem;
}

